<div class="w-full h-full flex flex-col">
    <div class="flex items-center justify-between px-4 py-3 border-b border-surface shrink-0">
        <span class="font-semibold text-base">Thông báo</span>
        <button class="text-sm text-primary hover:underline cursor-pointer" (click)="markAllAsRead()">Đánh dấu tất cả đã đọc</button>
    </div>

    <!-- List -->
    <div class="flex-1 overflow-auto">
        <div *ngFor="let item of data " (click)="markAsRead(item)" class="flex gap-3 px-4 py-3 cursor-pointer transition hover:bg-surface-100 dark:hover:bg-surface-800" [class.bg-surface-50]="!item.read" [class.dark:bg-surface-800]="!item.read">
            <!-- Avatar / Icon -->
            <div class="relative shrink-0">
                <div *ngIf="item.icon" class="w-10 h-10 rounded-full flex items-center justify-center bg-primary">
                    <i [class]="item.icon"></i>
                </div>

                <!-- Unread dot -->
                <span *ngIf="!item.read" class="absolute -right-1 -bottom-1 w-3 h-3 bg-primary rounded-full border-2"></span>
            </div>

            <!-- Content -->
            <div class="flex-1">
                <div class="text-sm leading-snug">
                    <span class="font-semibold">{{ item.title }}</span>
                    {{ item.content }}
                </div>
                <div class="text-xs text-surface-500 mt-1">{{ item.time }}</div>
            </div>
        </div>

        <!-- Empty -->
        <div *ngIf="notifications.length === 0" class="text-center py-6 text-surface-500 text-sm">Không có thông báo</div>
    </div>

    <!-- Footer -->
    <div class="dialog-footer border-t border-surface px-4 py-2 text-center shrink-0">
        <button class="text-sm text-primary hover:underline cursor-pointer" *ngIf="!isShowAll" (click)="loadAll()">Xem tất cả</button>
        <!-- <button class="text-sm text-primary hover:underline cursor-pointer" (click)="hiddenData()" *ngIf="isShowAll">Ẩn bớt</button> -->
    </div>
</div>
