
    <div class="flex flex-col gap-4 col-span-12">
        <span class="text-xl font-semibold mb-4">Thông tin người dùng</span>
        <form [formGroup]="form" (ngSubmit)="submit()" class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="image-container col-span-1 md:col-span-2 flex flex-col items-center">
                <!-- Hiển thị ảnh đang có hoặc ảnh default -->
                <img [src]=" (!!avatar ? 'data:image/jpeg;base64,' + avatar : 'assets/images/default-avatar.png')"
                    alt="Avatar" class="avatar w-36 h-36 rounded-full object-cover shadow-md m-2" />

                <!-- Khi ở chế độ Edit thì cho phép chọn file -->
                <!-- <input *ngIf="editMode" type="file" accept="image/*" (change)="onFileSelected($event)" /> -->
                @if(editMode){
                <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" accept="image/*"
                    maxFileSize="1000000" class="m-2" (onSelect)="onFileSelected($event)" [auto]="true"
                    chooseLabel="Nhấn để chọn" />
                }

            </div>
            <!-- Name -->
            <div>
                <p-floatlabel class="m-2">
                    <input pInputText id="name" autocomplete="off" formControlName="name" class="w-full"
                        [readonly]="!editMode" />
                    <label for="name">Họ và tên</label>
                </p-floatlabel>
                <small class="text-red-500 m-2" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                    Họ và tên bắt buộc.
                </small>
            </div>

            <!-- Email -->
            <div>
                <p-floatlabel class="m-2">
                    <input pInputText id="email" autocomplete="off" formControlName="email" class="w-full"
                        [readonly]="!editMode" />
                    <label for="email">Email</label>
                </p-floatlabel>
                <small class="text-red-500 m-2" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    Email bắt buộc.
                </small>
            </div>

            <!-- password -->
            @if(mode == 'create'){<div>
                <p-floatlabel class="m-2">
                    <input pInputText id="password" autocomplete="off" formControlName="password" class="w-full"
                        [readonly]="!editMode" />
                    <label for="password">Mật khẩu</label>
                </p-floatlabel>
                <small class="text-red-500 m-2" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                    Mật khẩu bắt buộc.
                </small>
            </div>}

            <!-- Phone -->
            <div>
                <p-floatlabel class="m-2">
                    <input pInputText id="phone" autocomplete="off" formControlName="phone" class="w-full"
                        [readonly]="!editMode" />
                    <label for="phone">Số điện thoại</label>
                </p-floatlabel>
                <small class="text-red-500 m-2" *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched">
                    Số điện thoại không hợp lệ.
                </small>
            </div>

            <!-- Username -->
            <div>
                <p-floatlabel class="m-2">
                    <input pInputText id="username" autocomplete="off" formControlName="username" class="w-full"
                        [readonly]="!editMode" />
                    <label for="username">Tên người dùng</label>
                </p-floatlabel>
                <small class="text-red-500 m-2" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
                    Tên người dùng bắt buộc.
                </small>
            </div>

            <div>
                <p-floatlabel class="m-2">
                    <p-datePicker id="dob" formControlName="dob"
                                class="w-full"
                                [iconDisplay]="'input'"
                                [readonlyInput]="true"
                                appendTo="body"
                                [disabled]="!editMode"></p-datePicker>
                    <label for="dob">Ngày sinh</label>
                </p-floatlabel>
                <small class="text-red-500 m-2"
                    *ngIf="form.get('dob')?.invalid && form.get('dob')?.touched">
                    Ngày sinh nhật không hợp lệ
                </small>
            </div>


            <p-select [options]="status" placeholder="Trạng thái" class="w-full md:w-56 m-2" formControlName="status"
                [disabled]="!editMode" />
            @if (!id){
                <p-select [options]="role" optionValue="id" optionLabel="roleName" placeholder="Vai trò" class="w-full md:w-56 m-2" formControlName="role"
                      [disabled]="!editMode" />
                <p-select [options]="permission" optionValue="id" optionLabel="permissionName" placeholder="Quyền" class="w-full md:w-56 m-2" formControlName="permission"
                      [disabled]="!editMode" />
            }
            @if (!readonly) {
            <!-- Buttons -->
                <div class="md:col-span-2 flex gap-2 justify-end mt-4">
                    <p-button [label]="editMode ? 'Huỷ bỏ' : 'Chỉnh sửa'" (click)="toggleEdit()">
                    </p-button>
                    <p-button *ngIf="editMode" type="submit" label="Lưu" />
                </div>
            }
        </form>
    </div>
