.content {
    background-color: var(--surface-overlay);
    border-radius: var(--content-border-radius);
}
.mess {
    background-color: var(--primary-color);
    color: var(--primary-contrast-color);
}
